body{
	background-color: black;
	color: white;
	font-family: monospace;
	display: flex;
	flex-direction: column;
}

@media (max-width: 768px){
	.nav{
		flex-direction: column;
		text-align: center;
	}

	.contenedor{
		flex-direction: column;
		padding: 20px;
	}

	.project-info h1{
		font-size: 30px;
	}

	.buttons{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.nav{
	display: flex;
	flex-direction: row;
	padding: 10px;
	background-color: #1a1a1a;
	border-radius: 10px 10px 0px 0px;
}

.contenedor{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding: 40px;
	background-color: #1a1a1a;
	border-radius: 0px 0px 10px 10px;
}

.contenedor img{
	/*width: 300px;*/
	max-width: 100%;
	height: auto;
}

.project-info{
	max-width: 90%;
}

.project-info h1{
	font-size: 45px;
}

.project-info h3{
	font-size: 35px;
}

.project-info p{
	font-size: 15px;
}

.project-info ul{
	list-style: none;
	padding: 0;
}

.project-info ul li{
	margin: 10px 0;
	font-size: 15px;
}

.buttons{
	margin-top: 30px;
}

.btn-live, .btn-code, .btn-back{
	padding: 10px 20px;
	background-color: black;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 10px;
	transition: background-color 1s, color 1s;
}

.btn-live:hover, .btn-code:hover, .btn-back:hover{
	background-color: white;
	color: black;
}